<div class="container">
  <div class="row">
    <div class="col-12 my-3 pb-3" id="theader">
      <h1>Shop</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="product">
        <div class="product-image">
          <img src="assets/images/sephora.png" alt="Imagen 1" />
        </div>

        <div class="product-details">
          <strong>PRODUCT ID: COS01</strong>
          <p>Sephora Skin Care - 1 u</p>
          <p><strong>IN STOCK:</strong> 4 UNITS </p>
          <strong class="price">$45.50</strong>

          <br />

          <div>
            Qty:
            <input aria-label="Label Text Here" />
          </div>

          <button type="button" class="botonCart">
            <i class="far fa-shopping-cart"></i>
            ADD TO CART
          </button>
        </div>
      </div>

      <div class="product">
        <div class="product-image">
          <img src="assets/images/sephora.png" alt="Imagen 2" />
        </div>

        <div class="product-details">
          <strong>PRODUCT ID: COS01</strong>
          <p>Sephora Skin Care - 1 u</p>
          <p><strong>IN STOCK:</strong> 4 UNITS </p>
          {{! <strong style="color: #7749f8">$45.50</strong> }}
          <strong class="price">$45.50</strong>

          <br />

          <div>
            Qty:
            <input aria-label="Label Text Here" />
          </div>

          <button type="button" class="botonCart">
            <i class="far fa-shopping-cart"></i>
            ADD TO CART
          </button>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="shopping-cart">
        <div class="shopCartDiv">
          <strong>
            <i class="far fa-shopping-cart"></i>
            SHOPPING CART</strong>
        </div>

        <div class="container contenidoCarrito">
          <div class="row">
            <div class="col">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="checkProducto1"
              />
            </div>
            <div class="col">
              2
            </div>
            <div class="col-7">
              <label class="form-check-label" for="checkProducto1">Sephora Skin
                Care - 1 u</label>
            </div>
            <div class="col">
              <strong>$91.00</strong>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="checkProducto2"
              />
            </div>
            <div class="col">
              1
            </div>
            <div class="col-7">
              <label class="form-check-label" for="checkProducto2">Dior Face
                Beauty - 1 u</label>
            </div>
            <div class="col">
              <strong>$50.00</strong>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-7">
              <i class="fal fa-trash-alt"></i>
            </div>
            <div class="col">
              <strong>Total</strong>
            </div>
            <div class="col">
              <strong>$141.00</strong>
            </div>
          </div>
        </div>

        <button type="button" class="botonCart checkoutbtn">
          CHECKOUT
        </button>
      </div>
    </div>
  </div>
</div>