
<nav class="navbar navbar-expand-sm">
    <div class="container">
        <a class="navbar-brand" href="#">SISWEB</a>
        <div class="navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link me-4" aria-current="page" href="/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-5" href="/shop">Shop</a>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-primary px-4" id="btn" >Logout</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
