/* General */
* {
  font-family: "inter", sans-serif;
}

/* Navbar */
.navbar {
  background-color: #7749f8;
}

.navbar-brand {
  color: #fff;
}

.navbar-brand:hover {
  color: #fff;
}

.navbar-brand:active {
  color: #fff;
}

.navbar-brand:visited {
  color: #fff;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #fff;
}

.nav-link:active {
  color: #fff;
}

.nav-link:visited {
  color: #fff;
}

#btn {
  color: #fff;
  border-color: #fff;
}

#btn:hover {
  color: #7749f8;
  border-color: #fff;
  background-color: #fff;
}

#btn:active {
  color: #7749f8;
  border-color: #fff;
  background-color: #fff;
}

/* Main */
#theader {
  border-bottom: 1px solid #ced4da;
  padding-left: 0;
  padding-right: 0;
  margin-left: 12px;
  box-sizing: content-box;
}

#btnbody {
  color: #7749f8;
  border-color: #7749f8;
}

#btnbody:hover {
  color: #fff;
  border-color: #7749f8;
  background-color: #7749f8;
}

#btnbody:active {
  color: #fff;
  border-color: #7749f8;
  background-color: #7749f8;
}

.table {
  border-top: 1px solid #ced4da;
}

.cen {
  text-align: center;
}

.pen {
  color: #7749f8;
}

.trash {
  color: #7749f8;
}
