.product {
  width: 600px;
  height: 250px;
  //   margin: 30px 0px;
  display: flex;
  overflow: hidden;
  /*   box-shadow: -20px 10px 30px 0px rgba(0, 0, 0, 0.25); */
  cursor: pointer;
  color: #333;
  /*   border-radius: 10px; */
  &:hover {
    text-decoration: none;
    color: #333;
  }
}

.product-image {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

  > img {
    max-width: 100%;
    max-height: 100%;
  }
}

.product-details {
  padding: 5px 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-details-page {
  width: 100%;
  box-shadow: none;
  border-radius: 0;
}

.menuNav {
  display: flex;
  padding: 10px 10px;
  justify-content: space-between;
}

.pageTitle {
  color: white;
}

.cantidad {
  border-radius: 10px;
}

.botonCart {
  height: auto;
  background-color: white;
  color: #7749f8;
  border: 1px solid #7749f8; /* Green */
  border-radius: 10px;
  transition-duration: 0.4s;
}

.botonCart:hover {
  background-color: #7749f8; /* Green */
  color: white;
}

.shopping-cart {
  height: 50%;
  width: auto;
  left: 887px;
  top: 187px;
  border-radius: 5px;
  padding: 15px;

  // margin: 10px 0px;
  width: 100%;
  background: #d9d9d933;
}

.shopCartDiv {
  border-bottom: 1px solid black;
}

.price {
  color: #7749f8;
}

.contenidoCarrito {
  padding: 5px;
  border-bottom: 1px solid black;
}

.checkoutbtn {
  width: 40%;
  margin: 10% 55%;
}
