/* body {
  background-color: black;
} */

.nav-header {
  background-color: #DC3545;
  width: 100%;
}

.other_tab {
  width: 100%;
  border-radius: 10px;
}

.active_tab {
  width: 100%;
  border: 3px solid #f14764;
  border-radius: 10px;
}

.hoverinBtn:hover {
  width: 100%;
  background-color: lightgray;
}

.bi {
  color: white;
  margin-right: 15px;
}

.bi:hover{
  color: lightgray;
  cursor: pointer;

}

nav small {
  color: white;
  margin-right: 40px;
}

#salir{
  margin-right: 20px;
}
.form-check-input:checked {
  background-color: blueviolet;
  border-color: blueviolet;
}

.btn {
  margin-bottom: 10px;
}
