/* header,
body,
footer,
aside,
article,
.banner {
  border: 1px black solid;
} */

/* Configuracion para el header con el logo y navbar */
header {
  display: flex;
  background-color: white;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  align-items: center;
  align-content: center;
  height: 4rem;
}

/* Fonts */
@font-face {
  font-family: "Noto-bold";
  src: url("../../fonts/NotoSerif-Bold.eot");
  src: url("../../fonts/NotoSerif-Bold.eot") format("embedded-opentype"),
    url("../../fonts/NotoSerif-Bold.woff2") format("woff2"),
    url("../../fonts/NotoSerif-Bold.woff") format("woff"),
    url("../../fonts/NotoSerif-Bold.ttf") format("truetype"),
    url("../../fonts/NotoSerif-Bold.svg#Noto-bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "google-Roboto";
  src: url("../../fonts/Roboto-Light.eot");
  src: url("../../fonts/Roboto-Light.eot") format("embedded-opentype"),
    url("../../fonts/Roboto-Light.woff2") format("woff2"),
    url("../../fonts/Roboto-Light.woff") format("woff"),
    url("../../fonts/Roboto-Light.ttf") format("truetype"),
    url("../../fonts/Roboto-Light.svg#google-Roboto") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Asignar tipo de letra a la pagina */
head,
body {
  font-family: google-Roboto, sans-serif;
}

h2,
h3,
h4 {
  font-family: Noto-bold, serif;
}

/* Parte del logo */
.logo {
  text-align: left;
}

.logo img {
  height: auto;
  width: auto;
}

/* Color del titulo de pagina */
.pageTitle {
  color: #f14764;
}

/* Configuracion de Links y mini-animacion */
.nav-links {
  width: 75vw;
  display: flex;
  justify-content: right;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-links li a {
  margin: 0 0.7vw;
  text-decoration: none;
  transition: all ease-in-out 350ms;
  padding: 5px;
}

.nav-links li a:hover {
  color: #f33e3e;
  background-color: #fff;
  padding: 10px;
  border-radius: 50px;
}

.nav-links li {
  position: relative;
}

.nav-links li a:hover::before {
  width: 80%;
}

/* Color para la pestaña actual */
.active-tab {
  color: #f2526e;
}

/* Configuracion del banner */
.banner {
  background-image: url("../../images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Configuracion del contenido de la pagina */
.grid {
  margin: 0 auto;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}

/* Config general tabla */
table {
  border-collapse: collapse;
  width: auto;
}

/* Config para los titulos de columnas */
#categories th {
  padding: 12px 20px;
  text-align: center;
  background-color: #f2526e;
  color: white;
}

/* Config para intercambio de colores por fila */
#categories tr:nth-child(odd) {
  background-color: #f5f5f5;
  border-bottom: 1px solid #f14764;
}

/* Poner texto en el centro de la casilla */
.toCenter {
  text-align: center;
}

.toCenter button {
  width: 80%;
  border: 1px solid #b4b0b0;
  border-radius: 5px;
}

/* Pos de la tabla */
article {
  width: auto;
  height: auto;
  padding: 2rem 4rem;
  box-sizing: border-box;
}

/* Pos de la oferta de trabajo al costado */
aside {
  width: auto;
  height: auto;
  padding: 20px 25px;
  box-sizing: border-box;
  border: 1px solid #000000;
}

aside h3 {
  text-transform: uppercase;
  color: #f2526e;
}

aside img {
  height: 219px;
  width: auto;
}

/* Footer */
footer {
  background-color: #d9d9d9;
  padding: 2px 15px;
}
