@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:wght@900&display=swap');
/* header,
body,
footer,
aside,
article,
.banner {
  border: 1px black solid;
} */

/* Configuracion para el header con el logo y navbar */
header {
  display: flex;
  background-color: white;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  align-items: center;
  align-content: center;
  height: 4rem;
}

/* Fonts */
@font-face {
  font-family: "Noto-bold";
  src: url("../../fonts/NotoSerif-Bold.eot");
  src: url("../../fonts/NotoSerif-Bold.eot") format("embedded-opentype"),
    url("../../fonts/NotoSerif-Bold.woff2") format("woff2"),
    url("../../fonts/NotoSerif-Bold.woff") format("woff"),
    url("../../fonts/NotoSerif-Bold.ttf") format("truetype"),
    url("../../fonts/NotoSerif-Bold.svg#Noto-bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "google-Roboto";
  src: url("../../fonts/Roboto-Light.eot");
  src: url("../../fonts/Roboto-Light.eot") format("embedded-opentype"),
    url("../../fonts/Roboto-Light.woff2") format("woff2"),
    url("../../fonts/Roboto-Light.woff") format("woff"),
    url("../../fonts/Roboto-Light.ttf") format("truetype"),
    url("../../fonts/Roboto-Light.svg#google-Roboto") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Asignar tipo de letra a la pagina */
head,
body {
  font-family: google-Roboto, sans-serif;
}

h2,
h3,
h4{
  font-family: 'Oswald', sans-serif;
}

label{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 2em;
}

input, 
select, 
textarea{
  font-family: google-Roboto, sans-serif;
  text-indent: 1em;
  font-size: 10px;
}

/* Parte del logo */
.logo {
  text-align: left;
}

.logo img {
  height: auto;
  width: auto;
}

/* Color del titulo de pagina */
.pageTitle {
  color: #f14764;
}

/* Configuracion de Links y mini-animacion */
.nav-links {
  width: 75vw;
  display: flex;
  justify-content: right;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-links li a {
  margin: 0 0.7vw;
  text-decoration: none;
  transition: all ease-in-out 350ms;
  padding: 5px;
  color: black;
}

.nav-links li a:hover {
  color: #f33e3e;
  background-color: #fff;
  padding: 10px;
  border-radius: 50px;
}

.nav-links li a:active {
  color: #f33e3e;
}

.nav-links li {
  position: relative;
}

.nav-links li a:hover::before {
  width: 80%;
}

/* Color para la pestaña actual */
.active-tab {
  color: #f2526e;
}

/* Configuracion del banner */
.banner {
    background-image: url("../../images/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Footer */
footer {
  background-color: #d9d9d9;
  padding: 2px 15px;
}

.grid-form{
  list-style: none;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2em;
}

.grid-button{
  list-style: none;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2em;
}
.grid1 {
  background-image: url(../../images/contactus-pic.jpg);
  background-size: cover;
  background-position: center;
}
main{
  padding: 0 5em;
  margin-bottom: 1em;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* background-color: red; */
}


.input {
  /* background-color: purple; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%; /* set width to 100% */
}

.text {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: red; */
}



button {
  margin: 2em;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 20px;
}

button:hover {
  background-color: #f14764;
  color: black;
  border-color: #f14764;
}

button:active {
  background-color: black;
  color: white;
  border-color: #f14764;
}

button:focus {
  background-color: white;
  color: black;
  border-color: #f14764;
  outline: none;
}

#category-select {
  width: 96%;
  height: 3em;
}

input{
  width: 90%;
  height: 3em;
}
textarea{
  width: 95%;
  resize: none;
}

.button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

p{
  margin-block-start: 0em;
}