<div class="container">
  <div class="row">
    <div class="col-12 my-3 pb-3" id="theader">
      <h1>Products</h1>
    </div>
    <div class="col-12 mt-2 mb-4">
      <a
        type="button"
        class="btn btn-outline-primary px-4"
        href="addproduct"
        id="btnbody">
        ADICIONAR PRODUCTO
      </a>
    </div>
  </div>


  {{!-- <div class="row">
    <div class="col-12 table-responsive">
      <table class="table" id="tabla-datos">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">TYPE</th>
            <th scope="col">NAME</th>
            <th class="cen" scope="col">PRICE</th>
            <th class="cen" scope="col">IN STOCK</th>
            <th class="cen" scope="col">IMAGE</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <!-- Tabla en JSON-->
        </tbody>
      </table>
    </div>
  </div> --}}
</div>

<!-- Delete card -->
<div id="delete-confirmation" class="hidden card">
  <div class="card-header">
    Delete Product
  </div>
  <div class="card-body">
    <p class="card-text">Are you sure you want to delete this product?</p>
    <button class="btn btn-primary text-end me-3" id="cancel-delete" onclick="cancelDelete()">CANCEL</button>
    <button class="btn btn-primary text-end" id="confirm-delete" onclick="confirmDelete()">DELETE</button>
  </div>
</div>
